.content-container {
  height: 100%;
  width: 90%;

  padding: 8px;
  background: white;
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: auto;

  .row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    .content-section {
      height: 100%;

      .section-title {
        font-size: 1.2em;
      }
    }

    .large {
      flex: 2;
    }

    .small {
      flex: 1;
    }
  }
}
