.ui.container {
  padding: 20px;
}

.ui.grid {
  height: 100%;
}

.content-container {
  height: 100%;
  width: 90%;

  padding: 8px;
  background: white;
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: space-between;
  flex-wrap: wrap;
  margin: auto;
}
