.list-item-container {
  padding: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  background: white;
  border: 1px solid #ccc;
  border-bottom: none;

  &:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }

  &:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom: 1px solid #ccc;
  }

  .list-item-group-vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 4px;

    .list-item-title {
      font-size: 1em;
      margin: 0;
    }

    .list-item-subtitle {
      font-size: 0.9em;
      color: #ccc;
      margin: 0;
    }

    .admit-button {
      height: 100%;
      font-size: 0.9em;
    }
  }
}
