.list-container {
  margin: 8px;

  .list {
    width: 100%;
    min-width: 400px;
    max-width: 600px;
    background: #eee;
    list-style-type: none;
    padding: 0;
    margin: auto;

    & li {
      margin: 4px;
    }
  }
}
