.form-container {
  margin: 8px;

  .checkin-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 8px;
    background: #eee;
    width: 300px;
    margin: auto;

    .form-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .form-input-label {
        padding: 2px;
        width: 100%;
      }
    }

    input,
    label,
    textarea {
      display: block;
      box-sizing: border-box;
      margin: 4px 0px;
      width: 100%;
    }

    textarea {
      resize: none;
      min-height: 100px;
      max-height: 150px;
      border: none;
    }

    input {
      &[type='text'],
      &[type='email'] {
        font-size: 1em;
      }
    }

    label {
      font-size: 0.8em;
      text-align: left;
    }

    .form-button-container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      .form-button {
        flex-grow: 1;
        border: none;
        border-radius: 2px;
        height: 40px;
        font-size: 1.1em;
        font-weight: bold;

        &:first-child {
          margin-right: 4px;
        }

        &:last-child {
          margin-left: 4px;
        }
      }
    }
  }
}
