.detail-container {
  margin: 8px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .detail-section {
    margin: 4px 8px;

    display: flex;
    flex-direction: row;
  }
}
